.ordercard{
	grid-area: 'ordercard';
	text-align: center;
	margin-top: 52px;
	width: 100%;
	height: 600px;
}

.ordercard img{
	width: 70px;
	height: 70px;
}

.item{
	height: 300px;
	overflow-y: auto;
	
}

.btnor {
	cursor: pointer;
	border: 10px solid #000038;
	border-radius: 8px;
	background-color: #000038;
	color: white;
	margin-top: 100px;
}

.btnor:hover {
	box-shadow: 0 0 10px #000038;
}
